<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<<<<<<< HEAD
<body style="background-color:powderblue;">

    <div class="header" style="color:teal">
        Sarah's Header
=======
<body style="background-color:dimgrey;">

    <div class="header" style="color: coral">
       <h1>
           Raquel's First API
       </h1>
>>>>>>> dca3633... Initial check-in of module DataGov_API_Intro
    </div>

    <div class="body-content">
        @RenderBody()
    </div>

<<<<<<< HEAD
    <div class="footer" style="color:teal">
=======
    <div class="footer" style="color:  burlywood">
>>>>>>> dca3633... Initial check-in of module DataGov_API_Intro
        <br />

        API Consumption Assignment
    </div>
</body>
</html>